/* App.css */
body {
  margin: 0;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&family=Nunito+Sans&family=Poppins:wght@500;600&display=swap');